.btn-res{
    display: none;
}
.link-menu-res{
    display: none;
}





@media screen and (max-width:800px) {
    .header-Links{
        display: none;
    }
    .btn-res{
        display: block;
    }
}
@media screen and (max-width:468px) {
    .link-res{
        display: none;
    }
    .link-menu-res{
        display: inline-block;
    }
}