.tabletline{
    display: none;
}
.customermobi{
    display: none;
}
.mobiline{
    display: none;
}
@media screen and (max-width:1326px) {
    .customer-wrap{
        max-width: 1400px;
    }
    .customer-in{
        max-width: 1200px;
        gap: 20px;
    }
}
@media screen and (max-width:1178px) {
    .customer-text{
        font-size: 11.886px;
        font-weight: 500;
        line-height: 18.572px;
    }
    .customer-name{
        font-size: 14.858px;
        font-weight: 500;
        line-height: 22.286px;
    }
    .line{
        display: none;
    }
    .tabletline{
        display: inline-block;
    }
    .customer-text{
        text-align: justify;
        font-size: 12.8px;
        font-weight: 400;
        line-height: 18.572px; 
        width: 314px;
    }
}
@media screen and (max-width:1008px) {
     .customer-wrap{
        display: none;
     }
     .mobiline{
        display: inline-block;
     }
     .customermobi{
        display: inline-block;
        display: flex;
    justify-content: center;
     }
     .title-cust{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
     }
}